In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('auto.csv')
X = df.drop(['mpg','origin'],axis=1).values
y = df['mpg'].values
df

      mpg  displ   hp  weight  accel  origin  size
0    18.0  250.0   88    3139   14.5      US  15.0
1     9.0  304.0  193    4732   18.5      US  20.0
2    36.1   91.0   60    1800   16.4    Asia  10.0
3    18.5  250.0   98    3525   19.0      US  15.0
4    34.3   97.0   78    2188   15.8  Europe  10.0
..    ...    ...  ...     ...    ...     ...   ...
387  18.0  250.0   88    3021   16.5      US  15.0
388  27.0  151.0   90    2950   17.3      US  10.0
389  29.5   98.0   68    2135   16.6    Asia  10.0
390  17.5  250.0  110    3520   16.4      US  15.0
391  25.1  140.0   88    2720   15.4      US  10.0

[392 rows x 7 columns]

In [12]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
# Set SEED for reproducibility
SEED = 1

# Split the data into 70% train and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

# Instantiate a DecisionTreeRegressor dt
dt = DecisionTreeRegressor(max_depth=4, min_samples_leaf=0.26, random_state=SEED)
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt, X_train, y_train, cv=10, 
                       scoring='neg_mean_squared_error',
                       n_jobs=-1)

# Compute the 10-folds CV RMSE
RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))
# Import mean_squared_error from sklearn.metrics as MSE
from sklearn.metrics import mean_squared_error as MSE

# Fit dt to the training set
dt.fit(X_train, y_train)

# Predict the labels of the training set
y_pred_train = dt.predict(X_train)

# Evaluate the training set RMSE of dt
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)

# Print RMSE_train
print('Train RMSE: {:.2f}'.format(RMSE_train))

CV RMSE: 5.14
Train RMSE: 5.15